<Menus>

<!-- Administration -->
	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Administration</Title>
		<Permissions>
			<Permission>USER_C</Permission>
			<Permission>USER_U</Permission>
			<Permission>USER_D</Permission>
			<Permission>ROLE_C</Permission>
			<Permission>ROLE_U</Permission>
			<Permission>ROLE_D</Permission>
			<Permission>PERMISSION_C</Permission>
			<Permission>PERMISSION_U</Permission>
			<Permission>PERMISSION_D</Permission>
			<Permission>DISCIPLINE_C</Permission>
			<Permission>DISCIPLINE_U</Permission>
			<Permission>DISCIPLINE_D</Permission>
			<Permission>SCHOOL_C</Permission>
			<Permission>SCHOOL_U</Permission>
			<Permission>SCHOOL_D</Permission>
			<Permission>POSITION_C</Permission>
			<Permission>POSITION_U</Permission>
			<Permission>POSITION_D</Permission>
		</Permissions>
	</Menu>

		<Menu>
			<ParentMenu>Administration</ParentMenu>
			<Title>Role Related</Title>
			<Permissions>
				<Permission>ROLE_C</Permission>
				<Permission>ROLE_U</Permission>
				<Permission>ROLE_D</Permission>
				<Permission>PERMISSION_C</Permission>
				<Permission>PERMISSION_U</Permission>
				<Permission>PERMISSION_D</Permission>
			</Permissions>
		</Menu>

			<Menu>
				<ParentMenu>Role Related</ParentMenu>
				<Title>Manage Role</Title>
				<Link>role.php</Link>
				<Permissions>
					<Permission>ROLE_C</Permission>
					<Permission>ROLE_U</Permission>
					<Permission>ROLE_D</Permission>
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Role Related</ParentMenu>
				<Title>Manage Permission</Title>
				<Link>permission.php</Link>
				<Permissions>
					<Permission>PERMISSION_C</Permission>
					<Permission>PERMISSION_U</Permission>
					<Permission>PERMISSION_D</Permission>
				</Permissions>
			</Menu>

		<Menu>
			<ParentMenu>Administration</ParentMenu>
			<Title>Setup Related</Title>
			<Permissions>
				<Permission>USER_C</Permission>
				<Permission>USER_U</Permission>
				<Permission>USER_D</Permission>
				<Permission>DISCIPLINE_C</Permission>
				<Permission>DISCIPLINE_U</Permission>
				<Permission>DISCIPLINE_D</Permission>
				<Permission>SCHOOL_C</Permission>
				<Permission>SCHOOL_U</Permission>
				<Permission>SCHOOL_D</Permission>
				<Permission>POSITION_C</Permission>
				<Permission>POSITION_U</Permission>
				<Permission>POSITION_D</Permission>
			</Permissions>
		</Menu>

			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage User</Title>
				<Link>user.php</Link>
				<Permissions>
					<Permission>USER_C</Permission>
					<Permission>USER_U</Permission>
					<Permission>USER_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage Discipline</Title>
				<Link>discipline.php</Link>
				<Permissions>
					<Permission>DISCIPLINE_C</Permission>
					<Permission>DISCIPLINE_U</Permission>
					<Permission>DISCIPLINE_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage School</Title>
				<Link>school.php</Link>
				<Permissions>
					<Permission>SCHOOL_C</Permission>
					<Permission>SCHOOL_U</Permission>
					<Permission>SCHOOL_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage Position</Title>
				<Link>position.php</Link>
				<Permissions>
					<Permission>POSITION_C</Permission>
					<Permission>POSITION_U</Permission>
					<Permission>POSITION_D</Permission>
				</Permissions>
			</Menu>

<!-- User -->
	<Menu>
		<ParentMenu></ParentMenu>
		<Title>User</Title>
		<Permissions>
			<Permission>USER_R</Permission>
		</Permissions>
	</Menu>

		<Menu>
			<ParentMenu>User</ParentMenu>
			<Title>User Related</Title>
			<Permissions>
				<Permission>USER_R</Permission>
			</Permissions>
		</Menu>

			<Menu>
				<ParentMenu>User Related</ParentMenu>
				<Title>User Details</Title>
				<Link>user_details.php</Link>
				<Permissions>
					<Permission>USER_R</Permission>
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>User Related</ParentMenu>
				<Title>Forgot Password</Title>
				<Link>forgot_password.php</Link>
				<Permissions>
					<Permission>USER_R</Permission>
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>User Related</ParentMenu>
				<Title>Search User</Title>
				<Link>user_search.php</Link>
				<Permissions>
					<Permission>USER_R</Permission>
				</Permissions>
			</Menu>

	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Transport Management</Title>
		<Permissions>
			<Permission>USER_R</Permission>
		</Permissions>
	</Menu>
			<Menu>
				<ParentMenu>Transport Management</ParentMenu>
				<Title>ASSET CATEGORY</Title>
				<!--<Link>new_asset.php</Link>-->
				<Permissions>
					<Permission>USER_R</Permission>
					<Permission>ASSETS_C</Permission>
					<Permission>ASSETS_R</Permission>
					<Permission>ASSETS_U</Permission>
					<Permission>ASSETS_D</Permission>
				</Permissions>
			</Menu>
				<Menu>
					<ParentMenu>ASSET CATEGORY</ParentMenu>
					<Title>ADD ASSET</Title>
					<Link>new_asset.php</Link>
					<Permissions>
						<Permission>USER_R</Permission>
						<Permission>ASSETS_C</Permission>
						<Permission>ASSETS_R</Permission>
						<Permission>ASSETS_U</Permission>
						<Permission>ASSETS_D</Permission>
					</Permissions>
				</Menu>

				<Menu>
					<ParentMenu>ASSET CATEGORY</ParentMenu>
					<Title>All Assets</Title>
					<Link>assets.php</Link>
					<Permissions>
						<Permission>USER_R</Permission>
						<Permission>ASSETS_C</Permission>
						<Permission>ASSETS_R</Permission>
						<Permission>ASSETS_U</Permission>
						<Permission>ASSETS_D</Permission>
					</Permissions>
				</Menu>

				<Menu>
					<ParentMenu>Transport Management</ParentMenu>
					<Title>Route category</Title>
					<Permissions>
						<Permission>USER_R</Permission>
						<Permission>ASSETS_C</Permission>
						<Permission>ASSETS_R</Permission>
						<Permission>ASSETS_U</Permission>
						<Permission>ASSETS_D</Permission>
					</Permissions>
				</Menu>

				<Menu>
					<ParentMenu>Route category</ParentMenu>
					<Title>CREATE Route</Title>
					<Link></Link>
					<Permissions>
						<Permission>USER_R</Permission>
						<Permission>ASSETS_C</Permission>
						<Permission>ASSETS_R</Permission>
						<Permission>ASSETS_U</Permission>
						<Permission>ASSETS_D</Permission>
					</Permissions>
				</Menu>
				<Menu>
					<ParentMenu>Route category</ParentMenu>
					<Title>Assign Route to Asset</Title>
					<Link></Link>
					<Permissions>
						<Permission>USER_R</Permission>
						<Permission>ASSETS_C</Permission>
						<Permission>ASSETS_R</Permission>
						<Permission>ASSETS_U</Permission>
						<Permission>ASSETS_D</Permission>
					</Permissions>
				</Menu>





</Menus>
